*[page-subtype~="home"]{
    display: none !important;
}

*[href*="/feed/trending"]{
    display: none !important;
}

.ytp-endscreen-content{
	display: none !important;
}

#comments{
	display: none !important;
}

#related #contents,
#related #upnext,
#related ytd-compact-video-renderer,
#related ytd-compact-playlist-renderer,
#related ytd-compact-radio-renderer,
.watch-sidebar-body, /*polymer off*/
.comment-section-renderer,
#feed-main-what_to_watch{
	display: none !important;
}